@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");

html,
body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}

main {
    z-index: 100;
}
main > *:nth-child(odd) {
    background-color: #9fabe8;
}

section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    padding: 100px 24px;
}

@media screen and (max-width: 700px) {
    section {
        height: 72vh;
    }
}

.section-text {
    min-width: 300px;
}
.section-text__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
    color: #2b044d;
    max-width: 400px;
}
.section-text__title-centered {
    max-width: 600px;
    text-align: center;
    margin: 0px auto;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
    color: #fcfcfc;
}
.section-text__title-big {
    font-size: 4rem;
    font-weight: 700;
    color: #2b044d;
    line-height: 1.3;
    margin-bottom: 24px;
    max-width: 600px;
}
.section-text__title-small {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
    color: #23182c;
}
.section-text__subtitle {
    color: #d45cef;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.section-text__body {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    line-height: 30px;
    margin-top: 5rem;
    font-weight: 400;
    max-width: 650px;
    background-color: rgb(248, 244, 132);
    border-radius: 3rem;
    padding:1rem;
}

.section-text__desc {
    color: #707b8e;
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    max-width: 300px;
}

.section-image img,
.section-image__small img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    z-index:-1;
}



/* Justering av hero image*/

.hero-section {
    position: relative;
    background-color: #9fabe8;
}

.hero-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text {
    position: absolute;
    z-index: 1;
    text-align: center;
    margin-top:3rem;
}

.section-image {
    position: relative;
    z-index: 0;
    width: 92.9%;
}

.hero-image {
    width: 100%;
    height: auto;
}

/*avslut justering hero*/

.section-image-features img {
    width: 80%;
}

@media screen and (max-width: 700px) {
    /*.section-image,*/
    .section-text__subtitle,
    .section-image-features img,
    .section-image__small {
        display: none;
    }

    .section-text__title-big {
        font-size:2.2rem;
        line-height:1.9rem;
        background-color: rgba(192, 255, 243, 0.84);
        padding-top:0.4rem;
        padding-bottom:0.4rem;
    }

    .section-text__body{
        max-width:600px;
        margin-top:0;
        color: transparent;
        background-image: linear-gradient(to left, #cd00d9, #7B68EE, #3498db, #2eccba, #cd00d9);
        webkit-background-clip: text;
        background-clip: text;
        animation: color 3s linear infinite;
        /*background-size: 500%;*/
        -webkit-transform: translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1.5;
    }


    .section-image{
        width:100%;
        position: absolute;
        height: 100%;

    }

    .section-image img{
        object-fit: none;
    }

    .hero-image{
        height:500px;
    }



    .download-btn{
        top:20rem;
        position: absolute;
        left:9rem;
    }

    .hero-section{
        margin:0;
    }


}

.feature-box {
    margin-bottom: 32px;
}

.service-cards {
    display: flex;
    margin: 0px auto;
    justify-content: center;
}

.service-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 90px 18px;
    background-color: #fff;
    border-radius: 25px;
    border: none;
    margin: 12px 8px;
    transition: 0.1s all ease-in;
}

.service-card > * {
    margin: 0px auto;
}

.service-card__icon {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 12px auto;
    margin-bottom: 24px;
    border-radius: 50%;
    background-color: #74ea4d;
    transition: 0.1s all ease-in;
}
.service-card__icon ion-icon {
    color: #fff;
    margin: auto;
    font-size: 3rem;
}

.service-card:hover .service-card__icon,
.service-card.active .service-card__icon {
    background-color: #2b044d;
}

@media screen and (max-width: 700px) {
    .service-cards {
        flex-direction: column;
    }
}

.download-btn {
    background-color: #2b044d;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-top: 3rem;
}
.download-btn:hover {
    background-color: #ea944d;
}

.section-carousel__images {
    display: flex;
}
.section-carousel__image {
    margin: 0px 6px;
}

@media screen and (max-width: 700px) {
    .section-carousel__images {
        position: relative;
        right: 0;
        left: 0;
    }
}

section#pricing {
    height: auto;
    padding: 0px;
}

.pricing-upper {
    /*height: calc(50vh - 80px);*/
    padding: 40px 24px;
    /*background-color: #9fabe8;*/
}
.pricing-lower {
    height: 70vh;
    margin-top: -20vh;
    padding: 0px 24px;
}

.pricing-cards {
    display: flex;
    justify-content: center;
}
.pricing-card {
    width: calc(30vw - 12px);
    margin: 0px 6px;
    max-width: 300px;
    padding: 52px 24px;
    background: #eecdf6;
    border-radius: 25px;
    text-align: center;
    position: relative;
    z-index: 20;
    transition: 0.2s all ease-in-out;
}
.pricing-card:hover {
    box-shadow: 0 10px 30px 0 rgba(145, 231, 225, 0.8);
}
/* .pricing-card::before {
  content: "";
  width: 70px;
  height: 130px;
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  background-image: url("./images/dot-bg.webp");
  transition: 0.2s all ease-in-out;
}
.pricing-card:hover::before {
  right: -25px;
  bottom: -27px;
} */
.pricing-card__header {
    border-bottom: 2px solid #f4f4f4;
    margin-bottom: 46px;
}
.pricing-card__title {
    color: #6a56a6;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 26px;
}
.pricing-card__title > span {
    vertical-align: baseline;
    font-size: 40%;
}
.pricing-card__subtitle {
    color: #57667e;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 19px;
    display: inline-block;
}
.pricing-card__features {
    list-style-type: none;
    margin: 12px 0px;
    padding: 0px;
}
.pricing-card__features > li {
    margin: 8px 0px;
    color: #717081;
    font-weight: 300;
    font-size: 1.1rem;
}

.pricing-card__btn {
    display: block;
    margin-top: 24px;
    position: relative;
    cursor: pointer;
    background-color: #2c134d;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 28px;
    border: 0px;
    color: #fff;
    transition: 0.2s all ease-in-out;
}
.pricing-card:hover .pricing-card__btn {
    background-color: #ea944d;
}

@media screen and (max-width: 700px) {
    .pricing-lower {
        height: auto;
    }
    .pricing-cards {
        flex-direction: column;
    }
    .pricing-card {
        width: calc(100% - 12px);
        margin: 12px auto;
    }
}

section#download {
    position: relative;
    height: 180vh;
    display: flex;
    background-color: #9fabe8;
}
section#download .container {
    margin: auto;
}
section#download .section-text {
    max-width: 500px;
}
section#download .section-image {
    max-width: 40vw;
    height: calc(100% - 0px);
}

.download-btn__img {
    display: inline-block;
    height: 56px;
    width: 170px;
    margin: 0px 8px;
    margin-top: 24px;
    transition: 0.2s all ease-in-out;
}
.download-btn__img:hover {
    opacity: 0.9;
}

@media screen and (max-width: 700px) {
    section#download {
        height: auto;
    }
}

.text-white {
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /*padding: 30px 0;*/
}
.col-50 {
    width: 50%;
    padding: 0px 14px;
}
.col-30 {
    width: 30%;
    padding: 0px 14px;
}

/* SHOPINFO */

#shop-info{
        background: url('../images/rainbow.jpg') no-repeat center center/cover;
        color: #fff;
        height:70vh;
}

.shop-info-section {
    background-color: #2a6923;
    padding: 50px 0;
    text-align: center;
    color: #000;
    height:40vh;
}

.shop-info-box {
    display: inline-block;
    background: linear-gradient(135deg, #ff69b4, #ff1493);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.shop-info-box::before,
.shop-info-box::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(45deg, #ff69b4, #ff1493, #ff69b4);
    z-index: -1;
    border-radius: 10px;
    opacity: 0.6;
    filter: blur(10px);
}

.shop-info-title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.shop-info-text {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.5;
}

.shop-info-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.shop-info-benefits {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(159, 171, 232, 0.8);
}

.benefit-item {
    text-align: center;
    margin: 20px 20px;
}

.benefit-icon {
    font-size: 64px;
    color: #ff69b4;
    margin-bottom: 10px;
}

.benefit-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}




/* */

#pricing {
    background: url('../images/blueconfetti.jpg') no-repeat center center/cover;
    color: #fff;
}

.pricing-upper {
    text-align: center;
    margin-bottom: 50px;
}


.pricing-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pricing-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.pricing-card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.pricing-card__header {
    margin-bottom: 20px;
}

.pricing-card__subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff69b4; /* Festlig f채rg */
}

.pricing-card__title {
    font-size: 2rem;
    color: #ff69b4; /* Festlig f채rg */
}

.pricing-card__features {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pricing-card__features li {
    margin: 10px 0;
}

.pricing-card__btn {
    background: #ff69b4; /* Festlig f채rg */
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background 0.3s;
}

.pricing-card__btn:hover {
    background: #ff1493;
}



/** SERVICES */

#services {
    background: url('../images/bollar.jpg') no-repeat center center/cover;
    padding: 50px 0;
    color: #fff;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card.active {
    background: #d8afff;
    color: #fff;
}

.service-card__icon {
    font-size: 3rem;
    color: #ff69b4;
    margin-bottom: 20px;
}

.service-card__text-container {
    padding: 10px 0;
}

.section-text__title-small {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-text__desc {
    font-size: 1rem;
    color: #343434;
}


/* download*/

.download-section {
    background-color: #ff69b4; /* Festlig bakgrundsf채rg */
    padding: 50px 0;
    color: #fff;
}

.section-text__title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section-text__body {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.download-btn__img img {
    width: 150px;
    margin: 10px;
    transition: transform 0.3s;
}

.download-btn__img img:hover {
    transform: scale(1.1);
}

.section-image img {
    width: 100%;
    height: auto;
}

.social-media-row {
    margin-top: 50px;
}

.instagram-feed {
    max-width: 100%;
    margin: 0 auto;
}

.nc-section{
    background-color: #61dafb;
}
